@media (max-width: 1420px) {
  .container {
    padding: 0px 30px 0px 30px;
  }
}
@media (max-width: 1380px) {
  .container {
    padding: 0px 50px 0px 30px;
  }
}
@media (max-width: 1340px) {
  .container {
    padding: 0px 70px 0px 70px;
  }
}
@media (max-width: 1200px) {
  .footer-content {
    display: block;
  }

  .footer__inner {
    display: inline-block;
  }
  .footer-content {
    text-align: center;
  }
  .footer__inner--mobile {
    order: -1;
    display: inline-block;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .form__box-inner {
    display: block;
  }
  .form-box__left {
    max-width: 100%;
  }
  .form__error {
    max-width: 100%;
  }
  .form-box__right {
    max-width: 100%;
    padding-top: 10px;
  }
  .footer-content {
    margin-top: 130px;
  }
  .footer-map {
    clear: both;
    float: left;
    display: block;
  }
}
@media (max-width: 945px) {
  .slider__text {
    max-width: 350px;
  }
}
@media (max-width: 900px) {
  .header-btn__menu {
    display: block;
  }
  .header__menu ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 0;
    margin-top: 20px;
    z-index: 10;
  }
  .header__menu li {
    display: block;
    text-align: center;
    opacity: 0.95;
  }
  .header__menu a {
    display: block;
    background-color: #93d79b;
    border-bottom: solid 1px #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 890px) {
  .form__box-inner {
    display: block;
  }
  .form-box__left {
    max-width: 100%;
  }
  .form-box__right {
    max-width: 100%;
    padding-top: 10px;
  }
  .footer-content {
    margin-top: 130px;
  }
}
@media (max-width: 600px) {
  .header__menu {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .slider__text {
    max-width: 200px;
  }
}
